# Node.js dependencies
node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

# TypeScript files
*.ts
!src/**/*.ts

# Build outputs
dist
build

# Logs
*.log

# Environment variables
.env

# Docker files
Dockerfile
docker-compose.yml

# Other
.git
.gitignore
.vscode
.DS_Store
.idea
*.swp
